.car-ready{
    margin-top: 5%;
}
.pull-right h1{
    font-size: 60px;
    color: #393939;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin: 0;
}
.pull-right p{
    margin-top: 25px;
    font-size: 18px;
}