#navName a:-webkit-any-link{
        text-decoration: none;
}
#logo{
    font-size: 26px;
}
#logo span{
    color: orange;
}
#about:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#home1:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#program:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#blog:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#testimonial:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#admin:hover{
    color: rgb(255, 157, 0);
    transition: 0.3s;
}
#homenav{
    text-decoration: none;
}
