.list-icon{
    position: relative;
    padding: 0 0 0 30px;
    margin-top: 28px; 
    text-decoration: none;
}
.list-icon li{
    list-style: none;
    margin-left: 21px;
}
.offset-top li{
    margin-bottom: 5px;
}
#btn-order{
    margin-top: 30px;

}
#btn-order:hover{
    background-color: orange;
}