.t-testimonial{
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    padding-top: 35px;
    padding-bottom: 30px;
    color: #393939;
}
.testimonial{
    background-color: rgba(235, 238, 236, 0.644);
}

.slider{
    width: 75%;
    min-height: 20rem;
}
.review-card{
    border-radius: 10px;
    background-color: transparent;
}
.tbody{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    width: 75%;
    margin-left: 13%;
    margin-bottom: 40px;
}
.tbody p{
    font-size: 19px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.card-title{
    margin-bottom: .75rem
}
