.sidebar{
    background-color: rgb(28 45 52 / 70%);;
    min-height: 100vh;
}
.sidebar h2{
    padding-top: 10%;
    color: white;
    font-size: 26px;
}
.sidebar h2 span{
    color: orange;
}
.user-panel{
    margin-top: 12%;
}
.user-panel a{
    margin-bottom: 5%;
    color: white;
    text-decoration: none;
}
.user-panel a:hover{
    color: orange;
    background-color: papayawhip;
}
.user-panel a h5{
    margin-bottom: 18px;
}