.tt-ourPrograms{
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    padding-bottom: 20px;
    color: #393939;
}
#imgCard{
    transition: .5s ;
}
.cardItem:hover #imgCard{
    transform: scale(1.1);
}